
<div class="menu" id="sidebar-wrapper">
    <div class="sidebar-heading"><i class="fas fa-podcast"></i> AudioPro </div>
    <div class="list-group list-group-flush">
      <a routerLink="/admin/categoria" class="list-group-item list-group-item-action bg-dark">
        <i class="fas fa-share-alt"></i>Categorias
      </a>
      <a routerLink="/admin/productos" class="list-group-item list-group-item-action bg-dark">
        <i class="fas fa-store-alt"></i>Productos
      </a>
      <a routerLink="/admin/clientes" class="list-group-item list-group-item-action bg-dark">
        <i class="fas fa-user-friends"></i>Clientes
      </a>
      <a routerLink="/admin/usuarios" class="list-group-item list-group-item-action bg-dark">
        <i class="far fa-address-card"></i>Usuarios
      </a>
      <a routerLink="/admin/ventas" class="list-group-item list-group-item-action bg-dark">
        <i class="fas fa-cash-register"></i>Ventas</a>
    </div>
</div>

