html{
    height: 573px;
}
body{
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  
    background: linear-gradient(to right, #3498db, #2c3e50); 
}
table{
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 80%;
    padding-bottom: 2%;
}
.jumbotron{
    margin-top: 1.2%;
}
.btn_nuevo{
    margin-left: 50px;
    margin-right: 10px;
  
    width: 5%; margin-right: 2%;
}
/*
.mat-column-Nombre,
.mat-column-Estado{
    max-width: 100px;
}
.mat-column-Correo{
max-width: 80px;
}
.mat-column-Rol{
    max-width: 50px;
}*/
