table{
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 80%;
    padding-bottom: 2%;
}
.jumbotron{
    margin-top: 1.2%;
    padding-top: 0;
}
.btn_nuevo{
    margin-left: 50px;
    margin-right: 10px;
  
    width: 5%; margin-right: 2%;
}
.fa-check-circle{
    color: green;
}

.fa-times-circle{
    color:brown;
}