<div id="main">
    <h2 class="lines-effect">Nosotros</h2>        
</div>

<div class="det_servicios">
    <div class="galeria">
        <img src="../../../assets/galeria/a1.jpg" alt="galeria">
    </div>
    <div class="galeria">
        <img src="../../../assets/galeria/a2.jpg" alt="galeria">
    </div>
    <div class="galeria">
        <img src="../../../assets/galeria/a3.jpg" alt="galeria">
    </div>
    <div class="galeria">
        <img src="../../../assets/galeria/a4.jpg" alt="galeria">
    </div>
    <div class="galeria">
        <img src="../../../assets/galeria/b1.jpg" alt="galeria">
    </div>
    <div class="galeria">
        <img src="../../../assets/galeria/b2.jpg" alt="galeria">
    </div>
    <div class="galeria">
        <img src="../../../assets/galeria/b3.jpg" alt="galeria">
    </div>
    <div class="galeria">
        <img src="../../../assets/galeria/b4.jpg" alt="galeria">
    </div>
</div>
