<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <app-admin-header *ngIf="toggledValue"></app-admin-header>

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <app-admin-nav (toggleChange)="toggled($event)"></app-admin-nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
