<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

  <h5>Carrito de compras</h5>
  <hr>

    
  <div class="card producto" *ngIf="cart.total=== 0">
    No hay registros
  </div>
  
  <div class="card producto" *ngFor="let producto of cart.productos">
    <div class="row">
      <div class="col-lg-2"> 
        <img [src]="urlBase + '/producto/img/' + producto.imagen" alt="producto">    
        <br>
       
      </div>

      <div class="col-lg-5">
        {{producto.nombre}}  <br>
        x{{producto.cantidad}} 
       <!--<button class="cantidad">-</button> <button class="cantidad">+</button>--> 
      </div>

      <div class="col-lg-3" style=" margin: 0; padding: 0; text-align: left;">
       <p class="precio">{{producto.precio_venta}} Bs</p>
      </div>

      <div class="col-lg-1">
        <button (click)="clearItem(producto)"
        class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
      </div>

    </div>
  </div>

  <div class="card " *ngIf="cart.total> 0" >
    <div class="col-lg">
      Total a pagar:<span class="precio-total"> {{cart.total}} Bs</span>
      
    </div>
  </div>

  <hr>

  <a (click)="clear()">Borrar</a>

</div>
<div id="overlay"></div>



